:root {
  --font-family: Arial, sans-serif;
  --background-color: #e0f7fa;
  --dark-blue: #0277bd;
  --medium-blue: #0288d1;
  --light-blue: #81d4fa;
  --hover-blue: #4fc3f7;
  --hover-grey: #e0e0e0;
  --clear-button-bg: #ff4d4d;
  --clear-button-hover-bg: #ff1a1a;
  --border-color: #ccc;
  --border-radius: 5px;
  --padding: 10px 20px;
  --transition-duration: 0.3s;
  --min-temp-color: #0277bd;
  --max-temp-color: #d32f2f;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
}

.weather-app {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

header {
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5em;
  color: var(--dark-blue);
}

h2 {
  font-size: 1.5em;
  color: var(--medium-blue);
}

.locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  max-width: 800px;
}

.location-tile {
  background-color: var(--light-blue);
  border: 1px solid var(--medium-blue);
  border-radius: var(--border-radius);
  padding: var(--padding);
  cursor: pointer;
  transition: background-color var(--transition-duration);
}

.location-tile:hover {
  background-color: var(--hover-blue);
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-info h3 {
  font-size: 1.2em;
  color: var(--dark-blue);
}

.weather-info p {
  font-size: 1em;
  color: var(--medium-blue);
}

.weather-details {
  margin-bottom: 20px;
}

.map-container {
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  margin-bottom: 100px;
}

.clear-button {
  background-color: var(--clear-button-bg);
  color: white;
  border: none;
  padding: var(--padding);
  margin-bottom: 40px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color var(--transition-duration);
}

.clear-button:hover {
  background-color: var(--clear-button-hover-bg);
}

.current-temp {
  font-size: 2em;
  color: var(--dark-blue);
}

.description {
  font-size: 1.5em;
  color: var(--medium-blue);
}

.min-temp {
  color: var(--min-temp-color);
}

.max-temp {
  color: var(--max-temp-color);
}

.week-overview {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.day-forecast {
  flex: 0 0 auto;
  background-color: var(--light-blue);
  border: 1px solid var(--medium-blue);
  border-radius: var(--border-radius);
  padding: 10px;
  margin-right: 10px;
  text-align: center;
  min-width: 100px;
  p {
    margin: 0;
    font-weight: 650;
    font-size: 18px;
  }
}

.day-forecast img {
  width: 50px;
  height: 50px;
}
